*.suo
*.user
_ReSharper.*
_NCrunch_*
.*crunch*.local.xml
*.dotCover
.JustCode
*.psess
*.vsp
*.vspx
*.vssscc
ObjectExporter.Test/obj/
ObjectExporter.Test/bin/
ObjectExporter.Core/bin/
ObjectExporter.Core/obj/
ObjectExporter.VsPackage/bin/
ObjectExporter.VsPackage/obj/
ObjectExporter.VsPackage/Resources
ObjectExporter.Core/ApiKeys.cs
ObjectExporter.VsPackage/Documentation/Thumbs.db
