*.suo
*.user
_ReSharper.*
_NCrunch_*
.*crunch*.local.xml
*.dotCover
.JustCode
*.psess
*.vsp
*.vspx
*.vssscc
ObjectExplorer.Test/obj/
ObjectExplorer.Test/bin/
ObjectExporter.Core/bin/
ObjectExporter.Core/obj/
ObjectExporter.VsPackage/bin/
ObjectExporter.VsPackage/obj/
