<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccretionDynamics.ObjectExporter.VsPackage.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AccretionDynamics.ObjectExporter.VsPackage.Settings>
            <setting name="DepthSolverTimeOut" serializeAs="String">
                <value>20000</value>
            </setting>
        </AccretionDynamics.ObjectExporter.VsPackage.Settings>
    </userSettings>
</configuration>